
/* subpage.css */


/* Body */

.bg{
    /* background-color: #399c39;
    background-image: url("../_images/Better-Green-Earth.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
